<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="welcome">
        <h2>Build Your Resume in Easy Steps</h2>
        <p>This is an platform where you can build your resume by providing simple information about yourself such as..</p>
        <ul>
            <li> Personal Information</li>
            <li>Education</li>
            <li> Skills</li>
            <li>Certifications & Awards</li>
            <li>Work Experience</li>
            
        </ul>
    </div>
    <button type="submit" id="btn"><a href="http://localhost:3000/res">Next>></a></button>
</body>
</html>