<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="main">
        <div class="b1">
            <div class="subd">
                <h3>CONTACT</h3>
                <div class="email">
                    <i class="fa-solid fa-envelope ei"></i>
                    <div class="des1">( YOUR EMAIL )</div>
                </div>
                <div class="ph">
                    <i class="fa-solid fa-phone phone pi"></i>
                    <div class="des2">( YOUR PHONE NO )</div>
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot loi"></i>
                    <div class="des3">( YOUR ADDRESS )</div></div>
                </div>
                <div class="skills">
                    <h3>SKILLS</h3>
                    <ul  class="skillset">

                        <!-- skills -->

                    </ul>
                </div>
                <div class="sofware">
                    <h3>SOFWARES</h3>
                    <ul class="softwareset">
                        
                            <!-- Software set -->
                        
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div class="b2">
            <div class="minfo">
                <div class="name">
                    <h1 class="name1">DEV SINGH</h2>
                </div>
                <div>
                    <p class="designation">SOFWARE DEVELOPER</p>
                    <p class="description">Brief description about yourjob</p>
                </div>
                <div class="perinfo">
                    <p>PERSONAL INFORMATION</p>
                </div>
                <div>
                    <p class="perpara">Brief description about your pesrsona</p>
                </div>
                    
                
                <div class="peredu">
                    <p>EDUCATION</p>
                </div>
                <div class="interval">
                    <ul class="qualificationset int">
                        <!-- education -->
                    </ul>
                </div>
                
                
                <div class="perworkex">
                    <p>WORK EXPERIENCE</p>
                    
                </div> 
                <div class="interval">
                    <ul class="experienceset int">
                        <!-- experience -->
                    </ul>
                </div>
           
                
            </div>

        </div>
        <hr class="vertical-line">
        
        <div class="data">
            <div class="header"> ENTER REQUIRED DETAILS</div>
            <div class="container">
                <div class="container1">
                    
                    <input type="text" class="data1" placeholder="Enter your name">
                    <input type="number" class="data2" placeholder="Enter phone number">
                </div>

                <div class="container1">
                    <input type="text" class="data3" placeholder="Enter address">
                    <input type="text" class="data7" placeholder="Enter Email address">
                    
                    
                </div>
                <div class="container1">
                    <input type="text" class="data8" placeholder="eg : (2010-15) Cisco as SDE1">
                    <button type="submit" id="expbtn">+Experience</button>
                    <input type="text" class="data6" placeholder="eg : (2001-2002) highschool from CMS">
                    <button type="submit" id="qualificationbtn">+Qualification</button>
                </div>
                <div class="container1">
                    
                    <input type="text" class="data4" placeholder="Enter skill">
                    <button type="submit" id="skillbtn">+Skill</button>
                    <input type="text" class="data5" placeholder="Enter sofware you know">
                    <button type="submit" id="softwarebtn">+Sofware</button>
                    
                </div>
                <div class="container2">
                    <textarea id="jobdescription">"Your brief job description"</textarea>
                    <textarea id="personaldescription">"Your brief pesonality description"</textarea>
                </div>
                <div class="conatiner3">
                    <input type="file"  class="imgfile" placeholder="Choose Image">
                    <input type="text" class="desig" placeholder="Job Title">
                </div>
                <button type="submit" id="finalsubmit">Final Submit</button>
            </div>

            <div class="footer">
                <ul>
                    <li>Fill the information carefully.</li>
                    <li>Enter the multiple enteries one by one</li>
                </ul>
            </div>   
        </div>

</div>
<script src="/app.js"></script>
</body>
</html>